---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
import { marked } from "marked";
import photo from "../assets/gabriel-with-city.jpg";
import Blurb from "../components/blurb.astro";
import Header from "../components/header.astro";
import Input from "../components/input.astro";
import MyBackground from "../components/my-background.astro";
import Textarea from "../components/textarea.astro";
import WhatWillITackle from "../components/what-will-i-tackle.astro";
import Default from "../layouts/default.astro";

const page = await getEntry("pages", "home");
const content = marked.parse(page.data?.content);
---

<Default>
  <main class="p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="w-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <h1>{page.data?.heading}</h1>
        <p><Fragment set:html={content} /></p>
        <a class="btn btn-primary mt-8" href="/#get-involved">Get involved</a>
      </div>
      <Image src={photo} alt="Photo of Gabriel" class="w-full max-w-md" />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <WhatWillITackle />
    </section>
    <section>
      <h1 class="text-center mb-16!">Why me?</h1>
      <MyBackground />
      <p class="mx-auto mt-16 text-center">
        Read more about me <a href="/why-me" class="link">here.</a>
      </p>
    </section>
    <section
      id="get-involved"
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Get involved</h1>
      <div class="flex flex-wrap items-center justify-center gap-16">
        <form
          class="w-xs flex flex-col items-end text-black!"
          action="https://api.web3forms.com/submit"
          method="POST"
        >
          <input
            type="hidden"
            name="access_key"
            value="a5af05ef-33e3-424d-b4bd-2f900039335b"
          />
          <Input name="name" label="Name" placeholder="Jane Doe" required />
          <Input
            type="email"
            name="email"
            label="Email"
            placeholder="jane.doe@gmail.com"
            required
          />
          <Textarea
            name="message"
            label="Message"
            placeholder="So, I wanted to ask..."
            required
          />
          <button type="submit" class="btn btn-accent mt-4">Send</button>
        </form>
        <Blurb title="Start the conversation."
          >Send me a message. I'll respond. Personally. If you have more
          questions about my plans, who I am, or how you can help, don't leave
          yourself guessing. Just ask!</Blurb
        >
      </div>
    </section>
  </main>
</Default>
