---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
import { marked } from "marked";
import photo from "../assets/gabriel-with-city.jpg";
import ContactForm from "../components/contact-form.astro";
import MyBackground from "../components/my-background.astro";
import WhatWillITackle from "../components/what-will-i-tackle.astro";
import Layout from "../layouts/default.astro";

const page = await getEntry("pages", "home");
const content = marked.parse(page.data?.content);
---

<Layout>
  <main class="p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="w-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <h1>{page.data.heading}</h1>
        <Fragment set:html={content} />
        <a class="btn btn-primary mt-8" href="/#get-involved">Get involved</a>
      </div>
      <Image src={photo} alt={page.data.photoAltText} class="w-full max-w-md" />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <WhatWillITackle />
    </section>
    <section>
      <h1 class="text-center mb-16!">Why me?</h1>
      <MyBackground />
      <p class="mx-auto mt-16 text-center">
        Read more about me <a href="/why-me" class="link">here.</a>
      </p>
    </section>
    <section
      id="get-involved"
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <ContactForm />
    </section>
  </main>
</Layout>
