---
import { Image } from "astro:assets";
import { ArrowLeft, CircleAlert, CircleCheck } from "@lucide/astro";
import affordability from "../../assets/affordability.svg";
import ProblemSolution from "../../components/problem-solution.astro";
import Default from "../../layouts/default.astro";
---

<Default>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <a
          href="/issues#what-will-i-tackle"
          class="link inline-flex items-center mb-8"
          ><ArrowLeft class="size-4" />Back to Issues</a
        >
        <h1>Affordability</h1>
        <p>
          “Anyone who has ever struggled with poverty knows how extremely <strong
            >expensive</strong
          > it is to be poor.” – James Baldwin<br /><br />We are slipping back
          into a stratified class system: the wealthy vs. the struggling. We all
          know there is enough money, food, clothing, and housing for everyone.
          Why, then, should everyday families struggle to get those very things?
        </p>
      </div>
      <Image
        src={affordability}
        alt="Drawing of trap with money as the bait"
        class="w-full max-w-md"
      />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Child Care</h1>
      <p class="max-w-md mx-auto mb-16">
        The "free market" has not provided us with adequate child care. The cost
        of having an infant in daycare in Denver is, on average, <strong
          >$1,500 a month.</strong
        >
        {" "}Another rent. It has become one of the most expensive metros to
        raise a child in the US.
      </p>
      <ProblemSolution>
        <Fragment slot="problem"
          >Study after study has shown that children who attend Pre-K have
          better outcomes than those who don't, even later in life. However, the
          cost is often prohibitive, leading families to keep little ones at
          home.<br /><br />Colorado offers 15 hours of free Pre-K, starting at 4
          years old. This is nice, but isn't enough to allow caretakers to
          return to the workforce. It also has a smaller impact on childrens'
          outcomes.</Fragment
        >
        <Fragment slot="solution"
          >Washington DC implemented universal Pre-K for the whole city,
          starting at 3 years old. It's been wildly successful and has enticed
          families to stay in the city.<ul class="mt-2">
            <li>
              • Create a Denver Public Schools universal Pre-K program to
              augment Colorado's existing one.
            </li>
            <li>• Expand free hours from 15 to 35 per week.</li>
            <li>• Start children at 3 years old, instead of 4.</li>
          </ul></Fragment
        >
      </ProblemSolution>
    </section>
    <section>
      <h1 class="text-center mb-16!">Publicly Owned Utilities</h1>
      <p class="max-w-md mx-auto mb-16">
        Electricity, gas, the internet... these are requirements of modern life.
        They are utilities. They are not commodities to be bartered with.
      </p>
      <ProblemSolution>
        <Fragment slot="problem"
          >Companies like Xcel and Xfinity use deceptive practices and pricing
          models to dupe their customers out of hard-earned money.</Fragment
        >
        <Fragment slot="solution"
          ><ul class="mt-2">
            <li>
              • Create a Denver Energy company to be a public alternative to
              private energy companies.
            </li>
            <li>
              • Create a Denver Broadband company to provide reduced cost
              internet to all residents.
            </li>
            <li>
              • Bake in programs in both of these public utility companies to
              provide reduced cost services to low income families.
            </li>
            <li>
              • Introduce energy tariffs for large-load customers like data
              centers.
            </li>
          </ul></Fragment
        >
      </ProblemSolution>
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Reliable Transit</h1>
      <p class="max-w-md mx-auto mb-16">
        One of the great benefits of living in a large city is the ability to
        utilize transit and forego the need of a car. <strong
          >It costs the average American $11,577 to own a vehicle.</strong
        > But, having personally relied on RTD, I've been let down, late to work,
        and even stranded.
      </p>
      <ProblemSolution>
        <Fragment slot="problem"
          >RTD has become inconsistent and costly to use as your main source of
          transportation. Many have given up on it. Access to reliable public
          transit, however, is a vital factor for financial mobility.</Fragment
        >
        <Fragment slot="solution"
          >Work with the RTD Board of Directors to:<ul class="mt-2">
            <li>
              • Bring back the F line, which had thousands of transiters riding
              it every day.
            </li>
            <li>
              • Introduce free fares for the elderly and LiVE (low-income)
              program members.
            </li>
            <li>
              • Shore up inconsistencies in train and bus pickup and dropoff
              times, as this can cost people their jobs.
            </li>
            <li>
              • Implement an easy method for commuters to report drivers who
              pass them by, are late, or never show up.
            </li>
          </ul>
        </Fragment>
      </ProblemSolution>
      <!-- <h1 class="text-center mb-16!">Junk Fees</h1>
      <p class="max-w-md mx-auto mb-16">
        Colorado's new law prohibiting deceptive pricing went into effect this
        January. That's great news, except it doesn't ban or reduce those junk
        fees. It just makes them visible.
      </p>
      <ProblemSolution>
        <Fragment title="problem"
          >Companies charge exorbitant fees for a myriad of things that are <em
            >not</em
          > the product or service you are paying for.</Fragment
        >
        <Fragment title="solution"
          ><ul class="mt-2">
            <li>• Ban ancillary fees for products and services in Denver.</li>
            <li>
              • Require companies to include any extras they want to charge in
              the original price for the product or service.
            </li>
          </ul></Fragment
        >
      </ProblemSolution> -->
    </section>
  </main>
</Default>
