---
import { Image } from "astro:assets";
import { ArrowLeft, CircleAlert, CircleCheck } from "@lucide/astro";
import bigTech from "../../assets/big-tech.svg";
import ProblemSolution from "../../components/problem-solution.astro";
import Default from "../../layouts/default.astro";
---

<Default>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <a
          href="/issues#what-will-i-tackle"
          class="link inline-flex items-center mb-8"
          ><ArrowLeft class="size-4" />Back to Issues</a
        >
        <h1>Big Tech</h1>
        <p>
          From surveillance that monitors our daily habits, data centers that
          dry up our lakes and rivers, and the dangling promise of jobs that end
          up being filled by out of state applicants, big tech has brought as
          much harm to Denver as it has brought economic investment. <strong
            >Enough is enough.</strong
          >
        </p>
      </div>
      <Image
        src={bigTech}
        alt="Drawing of person getting sucked into devices"
        class="w-full max-w-md"
      />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Surveillance</h1>
      <p class="max-w-md mx-auto mb-16">
        AI-powered surveillance is turning Denver into a digital police state.
        One officer told a Denver woman,{" "}
        <b
          >"You can’t get a breath of fresh air in or out of that place without
          us knowing."</b
        >
      </p>
      <ProblemSolution>
        <Fragment slot="problem"
          >Warrantless AI surveillance of drivers' daily movements by automatic
          license plate readers throughout Denver is unconstitutional.</Fragment
        >
        <Fragment slot="solution"
          ><ul class="mt-2">
            <li>
              • Ban automatic license plate readers from tracking every single
              Denver driver's movements.
            </li>
            <li>
              • Require warrants to allow Denver police officers to track
              drivers through these readers.
            </li>
            <li>
              • Require Axon or other providers we work with to update their
              software to only save the movements of license plates that have
              warrants in their database.
            </li>
          </ul></Fragment
        >
      </ProblemSolution>
    </section>
    <section>
      <h1 class="text-center mb-16!">Data Centers</h1>
      <p class="max-w-md mx-auto mb-16">
        Denver is home to <strong>58 data centers.</strong> The ecological impacts
        are many, including the massive amounts of fossil fuels burnt to power them,
        the heat islands they create around them, and the millions of liters of water
        they consume to cool down.
      </p>
      <ProblemSolution>
        <Fragment slot="problem"
          >Approximately 97% of Colorado is under drought restrictions,
          currently. Yet, we only have a 1 year moratorium on new data centers
          that ends in 6 months.</Fragment
        >
        <Fragment slot="solution"
          >Pass a ban on new data centers in Denver until technologies exist to
          offset the ecological impacts.</Fragment
        >
      </ProblemSolution>
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">The Promise of Jobs</h1>
      <p class="max-w-md mx-auto mb-16">
        Big tech companies always come into cities promising jobs, but often
        those jobs are filled by <strong>out-of-state applicants</strong> if they
        are created, at all.
      </p>
      <ProblemSolution>
        <Fragment slot="problem"
          >About 1 in 25 Denverites you meet are unemployed, yet companies bring
          their own workforce with them, not benefiting existing Denver
          residents.</Fragment
        >
        <Fragment slot="solution"
          >Require out of state companies that move into Denver to hire a
          portion of their workforce from locals.</Fragment
        >
      </ProblemSolution>
    </section>
  </main>
</Default>
