---
import { Image } from "astro:assets";
import city from "../../assets/city.svg";
import Footer from "../../components/footer.astro";
import WhatWillITackle from "../../components/what-will-i-tackle.astro";
import Default from "../../layouts/default.astro";
---

<Default>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <h1>Issues Denver faces</h1>
        <p>
          I love living in Denver. It is the only city I truly think I could
          call home. But with the Trump administration targeting it, the cost of
          living going through the roof, homelessness rapidly rising, Denver
          Police avoiding accountability, and corporations trying to take
          advantage of us, <strong>our home is in danger.</strong><br /><br
          />I'm tired of waiting for politicians to do the right thing. I
          believe in bringing solutions instead of complaints. Here are mine.
        </p>
      </div>
      <Image
        src={city}
        alt="A food container full of money"
        class="w-full max-w-md"
      />
    </section>
    <section
      id="what-will-i-tackle"
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <WhatWillITackle />
    </section>
  </main>
  <Footer />
</Default>
