---
const { Icon, title } = Astro.props;
---

<div class="min-w-3xs w-lg max-w-full">
  <h2 class="inline-flex gap-2 items-center">
    {Icon && <Icon class="size-8" />}{title}
  </h2>
  <div class="[&_p]:text-lg! font-light max-w-md"><slot /></div>
</div>
