<h1 class="text-center mb-16!">Respaldos</h1>
<p class="max-w-xl mx-auto">
  <span class="font-medium"
    >“Qué liberal sensiblero y mal perdedor.”
  </span><span class="font-light"> – Alguien en Facebook</span>
  <br /><br />
  <span class="font-medium">“¿Será todo, señora?” </span><span
    class="font-light"
  >
    – En el autoservicio</span
  >
  <br /><br />
  <span class="font-medium"
    >“Por favor, realmente creo que necesitas volver a leer la Biblia... Por
    favor, reconcíliate con Dios. Me preocupas.”
  </span><span class="font-light"> – Mi bienintencionada tía</span>
</p>
