<h1 class="text-center mb-16!">Endorsements</h1>
<p class="max-w-xl mx-auto">
  <span class="font-medium">“What a liberal snowflake, sore loser.” </span><span
    class="font-light"
  >
    – Someone on Facebook</span
  >
  <br /><br />
  <span class="font-medium">“Will that be all, ma'am?” </span><span
    class="font-light"
  >
    – At the drive-thru</span
  >
  <br /><br />
  <span class="font-medium"
    >“Please I really think you need to read the Bible again... You seem to have
    a lot of hate in your heart. Please get right with God. I worry about you.”
  </span><span class="font-light"> – My well-meaning Aunt</span>
</p>
