---
import logo from "../assets/full-logo.svg";
---

<div
  class="w-full h-40 md:h-48 p-4 md:px-16 md:py-8 flex items-center justify-between"
>
  <a class="h-full" href="/"><img class="h-full" src={logo.src} /></a>
  <div>
    <ul
      class="ml-6 menu menu-horizontal px-1 text-lg md:text-2xl font-semibold"
    >
      <li><a href="#issues">Issues Denver faces</a></li>
      <li><a href="#why-me">Why me?</a></li>
      <li><a href="#get-involved">Get involved</a></li>
    </ul>
  </div>
</div>
