---
import { ArrowRight } from "@lucide/astro";
import logo from "../assets/full-logo.svg";
---

<div
  class="w-full h-40 md:h-48 p-4 md:px-16 md:py-8 flex items-center justify-between"
>
  <a class="h-full" href="/"><img class="h-full" src={logo.src} /></a>
  <div>
    <ul
      class="ml-6 menu menu-horizontal px-1 text-lg md:text-2xl font-semibold"
    >
      <li>
        <details>
          <summary class="md:text-2xl">Issues Denver faces</summary>
          <ul class="bg-base-100 rounded-t-none p-2 z-10">
            <li>
              <a href="/issues/affordability">Affordability</a>
            </li>
            <li><a href="/issues/housing-crisis">Housing Crisis</a></li>
            <li><a href="/issues/criminal-injustice">Criminal Injustice</a></li>
            <li><a href="/issues/food-security">Food Security</a></li>
            <li><a href="/issues/homelessness">Homelessness</a></li>
            <li><a href="/issues/big-tech">Big Tech</a></li>
            <li>
              <a href="/issues" class="inline-flex items-center"
                >See All <ArrowRight class="size-4" /></a>
            </li>
          </ul>
        </details>
      </li>
      <li><a class="md:text-2xl" href="/why-me">Why me?</a></li>
      <li><a class="md:text-2xl" href="/#get-involved">Get involved</a></li>
    </ul>
  </div>
</div>
