---
import Icon from "./icon.astro";

const { icon, title } = Astro.props;
---

<div class="w-2xs text-center flex flex-col items-center">
  {icon && <Icon name={icon} class="size-20 mb-6" />}
  <h2>{title}</h2>
  <div class="[&_p]:font-light"><slot /></div>
</div>
