<h2 class="text-center">No soy ajeno a la pobreza.</h2>
<p class="max-w-lg mx-auto mb-16">
  Crecí en una granja rural. Comíamos lo que cultivábamos. Íbamos a intercambios
  de ropa. Remendábamos esa misma ropa cuando se agujereaba. Y Wendy's era para
  nosotros un restaurante de lujo. No cambiaría esa infancia por nada. Desde que
  crecí, he experimentado lo bueno y lo malo, desde vivir en mi carro y comer
  hielo para sentirme lleno hasta ser dueño de mi propia casa. <strong
    >El liderazgo de su ciudad debería saber lo que se siente estar en ambos
    lados de la línea de pobreza.</strong
  >
</p>
<h2 class="text-center">Soy un todero. Literalmente.</h2>
<p class="max-w-lg mx-auto mb-16">
  Desde administrar una cadena de comida rápida, hasta trabajar en finanzas,
  limpiar restaurantes de noche, hacer comerciales para la televisión local,
  hacer trabajo de electricista, manejar autobuses escolares y trabajar en
  tecnología, a veces parece que no hay un trabajo que no haya hecho todavía.
  ¿Quién mejor para representarte que alguien que ha estado en las trincheras
  contigo?
</p>
<h2 class="text-center">Soy un organizador comunitario.</h2>
<p class="max-w-lg mx-auto">
  He sido el cocinero principal de una cocina benéfica, fundé un grupo de ayuda
  mutua y acción política, formé parte de la junta directiva de una organización
  sin fines de lucro que brindó seguridad alimentaria a quienes lo necesitaban
  durante el COVID, organicé conciertos, abogué por el cine local, fui parte de
  la junta de un comité de Diversidad, Equidad e Inclusión (DEI) en el lugar de
  trabajo, y hablé en reuniones locales en todo el estado. También me
  enorgullece servir como Líder Laico en la Iglesia Metodista Unida Cameron en
  Pearl Street, una iglesia progresista con una bandera de Black Lives Matter en
  su interior, un pastor negro y abiertamente gay, y una congregación cuya
  esencia es la justicia social. <strong
    >Servir en el Concejo Municipal será la culminación de mis esfuerzos,</strong
  > y la mejor manera en que puedo continuar abogando por Denver.
</p>
