<h2 class="text-center">I'm no stranger to poverty.</h2>
<p class="max-w-lg mx-auto mb-16">
  I grew up on a rural farm. We ate what we grew. We went to clothing swaps. We
  patched those same clothes when they wore holes. And Wendy's was fine dining
  to us. I wouldn't trade that childhood for anything. Since growing up, I've
  experienced the thick and the thin, from living out of my car and eating ice
  to feel full to owning my own home. <strong
    >Your city leadership should know what it's like to be on both sides of the
    poverty line.</strong
  >
</p>
<h2 class="text-center">I'm a jack of all trades. Literally.</h2>
<p class="max-w-lg mx-auto mb-16">
  From managing a fast food chain, to working in finance, to cleaning
  restaurants overnight, to making local TV commercials, to electrician work, to
  driving schoolbuses, to working in tech, it sometimes feels like there's not a
  job I haven't done, yet. Who better to represent you than someone who's been
  in the trenches with you?
</p>
<h2 class="text-center">I'm a community organizer.</h2>
<p class="max-w-lg mx-auto">
  I've been the head cook for a charity kitchen, started a mutual aid and
  political action group, served on the board of a non-profit providing food
  security to those in need during COVID, organized concerts, advocated for
  local filmmaking, been on the board of a committee for Diversity, Equity, and
  Inclusion (DEI) in the workplace, and spoke at local meetups across the state.
  I am also proud to serve as the Lay Leader at Cameron United Methodist Church
  on Pearl Street, a progressive church with a Black Lives Matter flag flying
  inside, a black and openly gay pastor, and a congregation whose lifeblood is
  social justice. <strong
    >Serving on City Council will be the culmination of my endeavours,</strong
  > and the best way I can continue to advocate for Denver.
</p>
