---
import { CircleAlert, CircleCheck } from "@lucide/astro";
import Blurb from "./blurb.astro";
---

<div class="flex flex-wrap gap-8 justify-center">
  <Blurb title="Problema" Icon={CircleAlert}><slot name="problem" /></Blurb>
  <Blurb title="Solución" Icon={CircleCheck}><slot name="solution" /></Blurb>
</div>
