---
import { CircleAlert, CircleCheck } from "@lucide/astro";
import Blurb from "./blurb.astro";

const { problem, solution } = Astro.props;
---

<div class="flex gap-8 justify-center">
  <Blurb title="Problem" Icon={CircleAlert}>{problem}</Blurb>
  <Blurb title="Solution" Icon={CircleCheck}>{solution}</Blurb>
</div>
