---
import { getCollection } from "astro:content";
import { ArrowRight } from "@lucide/astro";
import { marked } from "marked";
import Issue from "./issue.astro";

const allIssues = await getCollection("issues");
const sortedIssues = allIssues.sort((a, b) => a.data.order - b.data.order);
---

<h1 class="text-center mb-16!">What will I tackle?</h1>
<div class="flex flex-wrap gap-16 justify-center">
  {
    sortedIssues.map((issue) => {
      const summary = marked.parse(issue.data.summary);
      return (
        <Issue icon={issue.data.lucideIcon} title={issue.data.title}>
          <Fragment set:html={summary} />
          <br />
          <a
            class="link font-medium text-2xl"
            href={`/issues/${issue.data.slug}`}
          >
            Read More
            <ArrowRight class="size-6 inline-block align-middle ml-2" />
          </a>
        </Issue>
      );
    })
  }
</div>
