---
import { getCollection } from "astro:content";
import * as icons from "@lucide/astro";
import { marked } from "marked";
import Issue from "./issue.astro";

const allIssues = await getCollection("issues");
const sortedIssues = allIssues.sort((a, b) => a.data.order - b.data.order);
---

<h1 class="text-center mb-16!">¿Qué voy a enfrentar?</h1>
<div class="flex flex-wrap gap-16 justify-center">
  {
    sortedIssues.map((issue) => {
      const Icon = icons[issue.data.icon];
      const summary = marked.parse(issue.data.summary_es);
      return (
        <Issue icon={issue.data.lucideIcon} title={issue.data.title_es}>
          <Fragment set:html={summary} />
          <br />
          <a
            class="link font-medium text-2xl"
            href={`/es/issues/${issue.data.slug}`}
          >
            Leer Más
            <icons.ArrowRight class="size-6 inline-block align-middle ml-2" />
          </a>
        </Issue>
      );
    })
  }
</div>
