---
import { getCollection } from "astro:content";
import * as icons from "@lucide/astro";
import { marked } from "marked";
import Issue from "./issue.astro";

const allIssues = await getCollection("issues");
const sortedIssues = allIssues.sort((a, b) => a.data.order - b.data.order);
---

<h1 class="text-center mb-16!">¿Qué voy a enfrentar?</h1>
<div class="flex flex-wrap gap-16 justify-center">
  {
    sortedIssues.map((issue) => {
      const Icon = icons[issue.data.icon];
      const content = marked.parse(issue.data.content_es);
      return (
        <Issue Icon={Icon} title={issue.data.title_es}>
          <Fragment set:html={content} />
          <br />
          <br />
          <a class="link font-medium" href={`es/issues/${issue.data.slug}`}>
            Read More
          </a>
        </Issue>
      );
    })
  }
</div>
