---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
import { marked } from "marked";
import photo from "../../assets/gabriel-with-city.jpg";
import Input from "../../components/input.astro";
import MyBackground from "../../components/my-background-es.astro";
import Textarea from "../../components/textarea.astro";
import WhatWillITackle from "../../components/what-will-i-tackle-es.astro";
import Espanol from "../../layouts/espanol.astro";

const page = await getEntry("pages", "home");
const content = marked.parse(page.data?.content_es);
---

<Espanol>
  <main class="p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="w-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <h1>{page.data.heading_es}</h1>
        <Fragment set:html={content} />
        <a class="btn btn-primary mt-8" href="/es#involucrate">Involúcrate</a>
      </div>
      <Image
        src={photo}
        alt={page.data.photoAltText_es}
        class="w-full max-w-md"
      />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <WhatWillITackle />
    </section>
    <section>
      <h1 class="text-center mb-16!">¿Por qué yo?</h1>
      <MyBackground />
      <p class="mx-auto mt-16 text-center">
        Lea más sobre mí <a href="/es/why-me" class="link">aquí.</a>
      </p>
    </section>
    <section
      id="involucrate"
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Involúcrate</h1>
      <div class="flex flex-wrap items-start justify-center gap-16">
        <form
          class="w-xs flex flex-col items-end text-black!"
          action="https://api.web3forms.com/submit"
          method="POST"
        >
          <input
            type="hidden"
            name="access_key"
            value="a5af05ef-33e3-424d-b4bd-2f900039335b"
          />
          <Input
            name="name"
            label="Nombre"
            placeholder="Juana Pérez"
            required
          />
          <Input
            type="email"
            name="email"
            label="Correo electrónico"
            placeholder="juana.perez@gmail.com"
            required
          />
          <Textarea
            name="message"
            label="Mensaje"
            placeholder="Entonces, quería preguntar..."
            required
          />
          <button type="submit" class="btn btn-accent mt-4">Enviar</button>
        </form>
        <div class="min-w-3xs w-lg max-w-full">
          <h2>Inicia la conversación.</h2>
          <p class="font-light">
            Envíame un mensaje. Responderé. Personalmente. Si tienes más
            preguntas sobre mis planes, quién soy, o cómo puedes ayudar, no te
            quedes con la duda. ¡Solo pregunta!
          </p>
        </div>
      </div>
    </section>
  </main>
</Espanol>
