---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
import { marked } from "marked";
import photo from "../../assets/gabriel-with-city.jpg";
import ContactForm from "../../components/contact-form-es.astro";
import MyBackground from "../../components/my-background-es.astro";
import WhatWillITackle from "../../components/what-will-i-tackle-es.astro";
import Espanol from "../../layouts/espanol.astro";

const page = await getEntry("pages", "home");
const content = page?.data && marked.parse(page.data.content_es);
---

<Espanol>
  <main class="p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="w-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <h1>{page?.data.heading_es}</h1>
        <Fragment set:html={content} />
        <a class="btn btn-primary mt-8" href="/es#involucrate">Involúcrate</a>
      </div>
      <Image
        src={photo}
        alt={page?.data.photoAltText_es || null}
        class="w-full max-w-md"
      />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <WhatWillITackle />
    </section>
    <section>
      <h1 class="text-center mb-16!">¿Por qué yo?</h1>
      <MyBackground />
      <p class="mx-auto mt-16 text-center">
        Lea más sobre mí <a href="/es/why-me" class="link">aquí.</a>
      </p>
    </section>
    <section
      id="involucrate"
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <ContactForm />
    </section>
  </main>
</Espanol>
