---
import { Image } from "astro:assets";
import meAndMicala from "../../assets/me-and-micala.jpg";
import Endorsements from "../../components/endorsements-es.astro";
import Footer from "../../components/footer-es.astro";
import MyBackground from "../../components/my-background-es.astro";
import Espanol from "../../layouts/espanol.astro";
---

<Espanol>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <h1>¿Por qué yo?</h1>
        <p>
          Iré directo al grano. Soy esposo y padre en una familia interracial y
          mixta. He vivido por debajo de la línea de pobreza y también en la
          desapareciente 'clase media'. <strong
            >Soy uno de esos terribles liberales de corazón sensible con una
            agenda progresista.</strong
          > 😉 Y lo que me distingue es que tengo legislación clara y específica en
          mente para mi mandato como Concejal de la Ciudad.
        </p>
      </div>
      <Image src={meAndMicala} alt="Foto de Gabriel" class="w-full max-w-md" />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Mi Plan</h1>
      <p class="max-w-md mx-auto mb-16">
        Creo que los candidatos deben definirse, primero, por quiénes son y, en
        segundo lugar, por lo que harán. He sido claro desde el principio:
        planeo comenzar de inmediato, redactando y promoviendo legislación sobre
        varios temas clave.
      </p>
      <h2 class="text-center underline">Justicia Social</h2>
      <p class="max-w-xl mx-auto">
        La asequibilidad no significa mucho si no se aplica de manera
        equitativa. Ante todo, necesitamos abordar las desigualdades en nuestra
        gran ciudad. Planeo presentar legislación sobre:
        <ul class="mt-2 mb-16 max-w-md mx-auto">
          <li>
            • Un organismo dirigido por ciudadanos para investigar la mala
            conducta de la Policía de Denver
          </li>
          <li>• Expansión del programa STAR</li>
          <li>• Sentencias alternativas para delitos no violentos</li>
          <li>
            • Alternativas a las multas por infracciones civiles y de tráfico
          </li>
          <li>
            • Prohibición de los desalojos de campamentos de personas sin hogar
          </li>
          <li>
            • Prohibición de la vigilancia de IA sin orden judicial a todos los
            conductores de Denver
          </li>
          <li>
            • Prohibición de la construcción de nuevos centros de datos en
            Denver
          </li>
        </ul>
      </p>
      <h2 class="text-center underline">Asequibilidad</h2>
      <p class="max-w-xl mx-auto">
        Es fácil soñar con un futuro mejor cuando la renta está pagada, hay
        comida en el refrigerador y el carro tiene gasolina. Si queremos vivir
        en la ciudad de nuestros sueños, tenemos que poder costearla. Presentaré
        legislación para:
        <ul class="mt-2 mb-16 max-w-md mx-auto">
          <li>• Expansión del Pre-K universal</li>
          <li>• Servicios públicos de propiedad colectiva</li>
          <li>• Prohibición a empresas de comprar viviendas unifamiliares</li>
          <li>• Un impuesto sobre las unidades de alquiler vacías</li>
          <li>• Expansión de la zonificación residencial multifamiliar</li>
          <li>• Bosques y jardines de alimentos en todos nuestros parques</li>
          <li>• Mejora de la confiabilidad del RTD</li>
          <li>
            • Un requisito para que las empresas foráneas que se instalen
            contraten a una parte de su personal de entre los locales
          </li>
        </ul>
      </p>
      <p class="text-center">
        Puedes leer más sobre mis planes <a href="/es/issues" class="link"
          >aquí.</a
        >
      </p>
    </section>
    <section>
      <h1 class="text-center mb-16!">Mi Trayectoria</h1>
      <MyBackground />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <Endorsements />
    </section>
  </main>
  <Footer />
</Espanol>
