---
import { Image } from "astro:assets";
import { ArrowLeft, CircleAlert, CircleCheck } from "@lucide/astro";
import bigTech from "../../../assets/big-tech.svg";
import ProblemSolution from "../../../components/problem-solution-es.astro";
import Espanol from "../../../layouts/espanol.astro";
---

<Espanol>
  <main class="h-full p-8 md:p-16 pb-0! flex flex-col gap-32">
    <section class="size-full flex flex-wrap justify-center items-center gap-8">
      <div class="w-md">
        <a href="/es/issues#retos" class="link inline-flex items-center mb-8"
          ><ArrowLeft class="size-4" />Volver a los Retos</a
        >
        <h1>Gran Tecnología</h1>
        <p>
          Desde la vigilancia que monitorea nuestros hábitos diarios, los
          centros de datos que secan nuestros lagos y ríos, y la promesa vacía
          de empleos que terminan siendo ocupados por solicitantes de fuera del
          estado, la gran tecnología ha traído tanto daño a Denver como
          inversión económica. <strong>Ya es suficiente.</strong>
        </p>
      </div>
      <Image
        src={bigTech}
        alt="Dibujo de una persona siendo absorbida por dispositivos"
        class="w-full max-w-md"
      />
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-secondary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">Vigilancia</h1>
      <p class="max-w-md mx-auto mb-16">
        La vigilancia impulsada por inteligencia artificial está convirtiendo a
        Denver en un estado policial digital. Un oficial le dijo a una mujer de
        Denver,{" "}
        <b
          >"No puedes tomar ni una bocanada de aire fresco dentro o fuera de ese
          lugar sin que lo sepamos."</b
        >
      </p>
      <ProblemSolution>
        <Fragment slot="problem"
          >La vigilancia de IA sin orden judicial de los movimientos diarios de
          los conductores mediante lectores automáticos de placas en todo Denver
          es inconstitucional.</Fragment
        >
        <Fragment slot="solution"
          ><ul class="mt-2">
            <li>
              • Prohibir que los lectores automáticos de placas rastreen los
              movimientos de cada conductor en Denver.
            </li>
            <li>
              • Exigir órdenes judiciales para permitir que los oficiales de la
              Policía de Denver rastreen a los conductores a través de estos
              lectores.
            </li>
            <li>
              • Exigir a Axon u otros proveedores con los que trabajamos que
              actualicen su software para guardar únicamente los movimientos de
              las placas que tengan órdenes judiciales en su base de datos.
            </li>
          </ul></Fragment
        >
      </ProblemSolution>
    </section>
    <section>
      <h1 class="text-center mb-16!">Centros de Datos</h1>
      <p class="max-w-md mx-auto mb-16">
        Denver alberga <strong>58 centros de datos.</strong> Los impactos ecológicos
        son muchos, incluyendo las enormes cantidades de combustibles fósiles quemados
        para alimentarlos, las islas de calor que crean a su alrededor y los millones
        de litros de agua que consumen para enfriarse.
      </p>
      <ProblemSolution>
        <Fragment slot="problem"
          >Aproximadamente el 97% de Colorado está actualmente bajo
          restricciones por sequía. Sin embargo, solo tenemos una moratoria de 1
          año sobre nuevos centros de datos que termina en 6 meses.</Fragment
        >
        <Fragment slot="solution"
          >Aprobar una prohibición sobre nuevos centros de datos en Denver hasta
          que existan tecnologías para compensar los impactos ecológicos.</Fragment
        >
      </ProblemSolution>
    </section>
    <section
      class="w-[calc(100% + 2rem)] bg-primary px-8 md:px-16 py-32 -mx-8 md:-mx-16 text-white"
    >
      <h1 class="text-center mb-16!">La Promesa de Empleos</h1>
      <p class="max-w-md mx-auto mb-16">
        Las grandes empresas tecnológicas siempre llegan a las ciudades
        prometiendo empleos, pero a menudo esos empleos son ocupados por <strong
          >solicitantes de fuera del estado</strong
        > si es que se crean.
      </p>
      <ProblemSolution>
        <Fragment slot="problem"
          >Aproximadamente 1 de cada 25 habitantes de Denver que conoces está
          desempleado, sin embargo las empresas traen su propia fuerza laboral
          consigo, sin beneficiar a los residentes existentes de Denver.</Fragment
        >
        <Fragment slot="solution"
          >Exigir a las empresas foráneas que se instalen en Denver que
          contraten a una parte de su personal de entre los locales.</Fragment
        >
      </ProblemSolution>
    </section>
  </main>
</Espanol>
